.registerHeader
    display: flex
    align-items: center
    padding: 0 10px
    border-bottom: 2px solid black

    svg 
        transform: scale(1.2)

    .registerTitle
        height: 50px
        line-height: 45px
        font-size: 16pt
        font-weight: 600
        margin: auto

.registerForm
    margin: 10px

.registerField
    width: 100%
    margin-top: 10px
