<section id="login">
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline">
        <mat-label>Digite seu e-mail</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Digite sua senha</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit">Entrar</button>
    </form>
</section>
