<div [formGroup]="formGroup" class="business-hours">
  <div formArrayName="businessHours">
    <div
      *ngFor="let businessHours of businessHoursForm.controls; let i = index"
    >
      <div
        class="form-section"
        [formGroupName]="i"
      >
        <h3>
          <span>{{getInfoBusinessHours(businessHours)}}</span>

          <button
            mat-icon-button color="warn" type="button"
            (click)="removeBusinessHoursForm(i, businessHours)"
            [disabled]="formGroup.disabled"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </h3>

        <div
          class="fields-group"
          style="grid-template-columns: 1fr 1fr 1fr"
        >
          <mat-form-field>
            <mat-label>Dia da Semana</mat-label>
            <mat-select formControlName="dayOfWeek">
              <mat-option *ngFor="let dayOfWeek of daysOfWeek" [value]="dayOfWeek.id">
                {{dayOfWeek.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Horário de Abertura</mat-label>
            <input type="time" matInput formControlName="openingTime">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Horário de Fechamento</mat-label>
            <input type="time" matInput formControlName="closingTime">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <button mat-flat-button type="button" (click)="addBusinessHoursForm()">
    <mat-icon>add</mat-icon>Horário de Funcionamento
  </button>
</div>
