<section id="new-company">
  <form [formGroup]="companyForm" (ngSubmit)="submitForm()">
    <h1>Nova Empresa</h1>

    <mat-tab-group style="width: 800px">
      <mat-tab label="Dados Básicos">
        <div class="form-section" style="padding-top: 20px">
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <div class="fields-group" style="grid-template-columns: 1fr 1fr">
            <mat-form-field>
              <mat-label>Prévia da Imagem</mat-label>
              <input matInput formControlName="imagePreviewUrl">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Imagem</mat-label>
              <input matInput formControlName="imageUrl">
            </mat-form-field>
          </div>

          <mat-form-field>
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>

          <div class="fields-group" style="grid-template-columns: 1fr 1fr 1fr">
            <mat-form-field>
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="phone" mask="(00) 0000-0000||(00) 00000-0000" [dropSpecialCharacters]="false">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Instagram</mat-label>
              <input matInput formControlName="instagram">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Facebook</mat-label>
              <input matInput formControlName="facebook">
            </mat-form-field>
          </div>

          <mat-form-field>
            <mat-label>Tags</mat-label>
            <mat-select formControlName="tags" multiple>
              <mat-optgroup *ngFor="let tagSection of tagSections" [label]="tagSection.title">
                <mat-option *ngFor="let tag of tagSection.tags" [value]="tag.id">
                  {{tag.name}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>

        <app-address #addressComponent [formGroup]="companyForm">
        </app-address>
      </mat-tab>
      <mat-tab label="Horários de Funcionamento">
        <app-business-hours #businessHoursComponent [formGroup]="companyForm">
        </app-business-hours>
      </mat-tab>
      <mat-tab label="Cardápio">
        <app-product-sections #productSectionsComponent [formGroup]="companyForm">
        </app-product-sections>
      </mat-tab>
    </mat-tab-group>

    <ul *ngIf="companyForm.errors" class="error-list" style="width: 800px">
      <ng-container *ngFor="let error of companyForm.errors | keyvalue">

        <li *ngFor="let message of error.value">{{ message }}</li>

      </ng-container>
    </ul>

    <div class="buttons-group">
      <button
        mat-flat-button color="warn"
        type="button"
        (click)="goBack()"
      >
        Voltar
      </button>

      <button
        mat-flat-button color="accent"
        type="submit"
        [disabled]="companyForm.disabled"
      >
        Finalizar
      </button>
    </div>
  </form>
</section>
