<section id="new-company">
  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <h1>Nova Empresa</h1>

    <div class="form-section" style="width: 800px">
      <h2>Dados Básicos</h2>

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <div class="fields-group" style="grid-template-columns: 1fr 1fr">
        <mat-form-field appearance="outline">
          <mat-label>Prévia da Imagem</mat-label>
          <input matInput formControlName="imagePreviewUrl">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Imagem</mat-label>
          <input matInput formControlName="imageUrl">
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <div class="fields-group" style="grid-template-columns: 1fr 1fr 1fr">
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="phone" mask="(00) 0000-0000||(00) 00000-0000" [dropSpecialCharacters]="false">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Instagram</mat-label>
          <input matInput formControlName="instagram">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Facebook</mat-label>
          <input matInput formControlName="facebook">
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Tags</mat-label>
        <mat-select formControlName="tags" multiple>
          <mat-optgroup *ngFor="let tagsSection of tagsSections" [label]="tagsSection.title">
            <mat-option *ngFor="let tag of tagsSection.tags" [value]="tag.id">
              {{tag.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>

    <app-business-hours [formGroup]="formGroup" style="width: 800px">
    </app-business-hours>

    <app-product-sections [formGroup]="formGroup" style="width: 800px">
    </app-product-sections>

    <app-address [formGroup]="formGroup" style="width: 800px">
    </app-address>

    <ul *ngIf="formGroup.errors" class="error-list" style="width: 800px">
      <ng-container *ngFor="let error of formGroup.errors | keyvalue">

        <li *ngFor="let message of error.value">{{ message }}</li>

      </ng-container>
    </ul>

    <div class="buttons-group">
      <button mat-flat-button color="warn" type="button" (click)="goBack()">Cancelar</button>

      <button mat-flat-button color="accent" type="submit">Finalizar</button>
    </div>
  </form>
</section>
